
<h2>Using the data received from Calendly request, please fill out project info below to add to a list of our current projects. Thank you.</h2>
<div>
  <div class="row mt-4">
  <div class="col-md-6">
    <h3>New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project_type">Project Type:</label>
        <input class="form-input" type="text" id="project_type" name="project_type" />
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <input class="form-input" type="text" id="location" name="location" placeholder="City Name"/>
      </div>
      <div class="form-group">
        <label for="cost">Cost (if any) do not use any special characters or commas:</label>
        <input class="form-input" type="text" id="cost" name="cost"/>
      </div>
      <div class="form-group">
        <label for="date_created">Date Project Request Created:</label>
        <input class="form-input" type="date" id="date_created" name="date_created"/>
      </div>
      <div class="form-group">
        <label for="user_id">User ID:</label>
        <input class="form-input" type="text" id="user_id" name="user_id" placeholder="Please enter integer as user's id">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>
</div>

<div class="project-list">
    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.project_type}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">CANCEL</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="./js/project.js"></script>