<div class="row">
  <div class="col-md-6">
    <h2>Look at our satistified customer!</h2>
<body>
<iframe> width = "" height = "" src = </iframe>
<iframe> width = "" height = "" src = </iframe>
<iframe> width = "" height = "" src = </iframe>
<iframe> width = "" height = "" src = </iframe>
<iframe> width = "" height = "" src = </iframe>
<iframe> width = "" height = "" src = </iframe>
    <p> As well as a personal shoutout from THE Dan Kaltenbaugh himself!!! </p>
<iframe> width = "" height = "" src = </iframe>
</body>
</div>
