
<div class="row bg" style="background-image:url(assets/yard.jpg)">
<body>
  <div class="col-md-6">
    <h2 class="review">Look at our satistified customers!</h2>
    <div class="revpic">
      <a href="https://streamable.com/93tw6o" target="_blank"><img src="/assets/pool.jpg" style="max-width: 300px;"></a>
      <a href="https://streamable.com/23xdj0" target="_blank"><img src="/assets/garage.jpg" style="max-width: 300px;"></a>
      <a href="https://streamable.com/f3a6zu" target="_blank"><img src="/assets/kitchen.jpg" style="max-width: 300px;"></a>
      <a href="https://streamable.com/aufd3h" target="_blank"><img src="/assets/patio.jpg" style="max-width: 300px;"></a>
    </div>
    <h3 class="review">One that wished they were a customer...</h3>
    <div class="revpic">
      <a href="https://streamable.com/8ev306" target="_blank"><img src="/assets/cry.webp" style="max-width: 300px;"></a>
    </div>
    <h3 class="review"> As well as a personal shoutout! </h3>
    <div class="revpic">
      <a href="https://streamable.com/ieveuz" target="_blank"><img src="/assets/hehe.png"></a>
    </div>
</body>
</div>
