body {
    font-family: 'Righteous', cursive;
    font-family: 'Russo One', sans-serif;
    color: rgb(0, 120, 201);
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#043857, #98c8e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.bg {
    height: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

.container {
    text-shadow: rgb(253, 253, 253) 3px 0 15px;
    font-size: 22px;
  }

a:link {
    font-size: 20px;
    color: #244558;
}

a:visited {
    color: #244558;
}

a:hover {
    color: rgb(0, 200, 226);
    background:rgb(212, 203, 177);
  -o-transition:color .2s ease-out, background .3s ease-in;
  -ms-transition:color .2s ease-out, background .3s ease-in;
  -moz-transition:color .2s ease-out, background .3s ease-in;
  -webkit-transition:color .2s ease-out, background .3s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .3s ease-in;
}

.review {
    background-color: rgb(255, 255, 255);
    color: black
}

.revpic {
    background-color: rgb(255, 255, 255);
    opacity: 70%;
}


.blu {
  width: 85%;
  text-align: center;
  margin: auto;
}

button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
=======
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
